@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Tronica Mono";
    src: url("../../public/assets/fonts/tronica_mono-webfont.ttf")
      format("truetype");

    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Metro Sans";
    src: url("../../public/assets/fonts/metrosans-bold-webfont.ttf")
      format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Metro Sans";
    src: url("../../public/assets/fonts/metrosans-regular-webfont.ttf")
      format("truetype");
    font-weight: regular;
    font-style: normal;
  }
}

* {
  background-color: black;
  color: white;
}

.title-shadow {
  text-shadow: 5px 5px 1px black, 5px 5px 1px black, 5px 5px 1px black,
    4px 4px 1px black, 4px 4px 1px black, 4px 4px 1px black, 3px 3px 1px black,
    3px 3px 1px black, 3px 3px 1px black, 2px 2px 1px black, 2px 2px 1px black,
    2px 2px 1px black, 1px 1px 1px black, 1px 1px 1px black, 1px 1px 1px black;
}

.subscribe-shadow {
  filter: drop-shadow(1px 1px 0px #830095) drop-shadow(1px 1px 0px #830095)
    drop-shadow(1px 1px 0px #830095) drop-shadow(1px 1px 0px #830095)
    drop-shadow(1px 1px 0px #830095);
}

.latest-shadow {
  filter: drop-shadow(-1px 1px 0px #adadad) drop-shadow(-1px 1px 0px #adadad)
    drop-shadow(-1px 1px 0px #adadad) drop-shadow(-1px 1px 0px #adadad);
}

.misc-shadow {
  filter: drop-shadow(-1px 1px 0px #023d86) drop-shadow(-1px 1px 0px #023d86)
    drop-shadow(-1px 1px 0px #023d86) drop-shadow(-1px 1px 0px #023d86);
}

.travel-shadow {
  filter: drop-shadow(-1px 1px 0px #2a0076) drop-shadow(-1px 1px 0px #2a0076)
    drop-shadow(-1px 1px 0px #2a0076) drop-shadow(-1px 1px 0px #2a0076);
}

.tech-shadow {
  filter: drop-shadow(-1px 1px 0px #a84e00) drop-shadow(-1px 1px 0px #a84e00)
    drop-shadow(-1px 1px 0px #a84e00) drop-shadow(-1px 1px 0px #a84e00);
}

.audio-shadow {
  filter: drop-shadow(-1px 1px 0px #1e9f00) drop-shadow(-1px 1px 0px #1e9f00)
    drop-shadow(-1px 1px 0px #1e9f00) drop-shadow(-1px 1px 0px #1e9f00);
}

.visual-shadow {
  filter: drop-shadow(-1px 1px 0px #8e0000) drop-shadow(-1px 1px 0px #8e0000)
    drop-shadow(-1px 1px 0px #8e0000) drop-shadow(-1px 1px 0px #8e0000);
}

.health-shadow {
  filter: drop-shadow(-1px 1px 0px #c1c14d) drop-shadow(-1px 1px 0px #c1c14d)
    drop-shadow(-1px 1px 0px #c1c14d) drop-shadow(-1px 1px 0px #c1c14d);
}

.subscribe-word-shadow {
  color: white;
  text-shadow: 0.5px 0.5px 0px white;
}

.zinc-900-shadow {
  filter: drop-shadow(1px 1px 0px #830095) drop-shadow(1px 1px 0px #830095)
    drop-shadow(1px 1px 0px #830095) drop-shadow(1px 1px 0px #830095)
    drop-shadow(1px 1px 0px #830095) drop-shadow(1px 1px 0px #830095);
}

.space-y-15 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3.75rem * var(--tw-space-y-reverse));
}

.pink-underline {
    border-bottom-width: 2.5px;
    border-color: #FF0072;
    background-color: transparent;
    cursor: pointer;
}

.misc-underline {
    border-bottom-width: 2.5px;
    border-color: #0072FF;
    background-color: transparent;
    cursor: pointer;
}

.travel-underline {
    border-bottom-width: 2.5px;
    border-color: #5B00FF;
    background-color: transparent;
    cursor: pointer;
}

.health-underline {
    border-bottom-width: 2.5px;
    border-color: #FFFF00;
    background-color: transparent;
    cursor: pointer;
}

.tech-underline {
    border-bottom-width: 2.5px;
    border-color: #FF7700;
    background-color: transparent;
    cursor: pointer;
}

.audio-underline {
    border-bottom-width: 2.5px;
    border-color: #31FF00;
    background-color: transparent;
    cursor: pointer;
}

.visual-underline {
    border-bottom-width: 2.5px;
    border-color: #FD0000;
    background-color: transparent;
    cursor: pointer;
}
